In [6]:
import pandas as pd
import json

## Processing match result

In [11]:
with open(r't20_json_files\t20_json_files\t20_wc_match_results.json') as f:
    data=json.load(f)
df_match=pd.DataFrame(data[0]['matchSummary'])

In [12]:
df_match.sample()

,team1,team2,winner,margin,ground,matchDate,scorecard
26,New Zealand,Sri Lanka,New Zealand,65 runs,Sydney,"Oct 29, 2022",T20I # 1850

In [13]:
df_match.shape

(45, 7)

In [14]:
df_match.rename({'scorecard':'matchid'},axis=1,inplace=True)

In [15]:
df_match.head()

,team1,team2,winner,margin,ground,matchDate,matchid
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

In [50]:
df_match.to_csv('match/match_result.csv',index=False)

## Processing batting unit

In [ ]:
##

In [70]:
with open(r't20_json_files\t20_json_files\t20_wc_batting_summary.json') as d:
    data=json.load(d)
data
all_records=[]
for rec in data:
    all_records.extend(rec['battingSummary'])
all_records   
df_batting=pd.DataFrame(all_records)

In [71]:
match_id_dict={}
for index, row in df_match.iterrows():
    key1= row['team1']+ ' Vs '+row['team2']
    key2= row['team2']+ ' Vs '+row['team1']
    
    match_id_dict[key1] = row['matchid']
    match_id_dict[key2] = row['matchid']
    
match_id_dict

{'Namibia Vs Sri Lanka': 'T20I # 1823',
 'Sri Lanka Vs Namibia': 'T20I # 1823',
 'Netherlands Vs U.A.E.': 'T20I # 1825',
 'U.A.E. Vs Netherlands': 'T20I # 1825',
 'Scotland Vs West Indies': 'T20I # 1826',
 'West Indies Vs Scotland': 'T20I # 1826',
 'Ireland Vs Zimbabwe': 'T20I # 1828',
 'Zimbabwe Vs Ireland': 'T20I # 1828',
 'Namibia Vs Netherlands': 'T20I # 1830',
 'Netherlands Vs Namibia': 'T20I # 1830',
 'Sri Lanka Vs U.A.E.': 'T20I # 1832',
 'U.A.E. Vs Sri Lanka': 'T20I # 1832',
 'Ireland Vs Scotland': 'T20I # 1833',
 'Scotland Vs Ireland': 'T20I # 1833',
 'West Indies Vs Zimbabwe': 'T20I # 1834',
 'Zimbabwe Vs West Indies': 'T20I # 1834',
 'Netherlands Vs Sri Lanka': 'T20I # 1835',
 'Sri Lanka Vs Netherlands': 'T20I # 1835',
 'Namibia Vs U.A.E.': 'T20I # 1836',
 'U.A.E. Vs Namibia': 'T20I # 1836',
 'Ireland Vs West Indies': 'T20I # 1837',
 'West Indies Vs Ireland': 'T20I # 1837',
 'Scotland Vs Zimbabwe': 'T20I # 1838',
 'Zimbabwe Vs Scotland': 'T20I # 1838',
 'Australia Vs New Zealand': 'T20I # 1839',
 'New Zealand Vs Australia': 'T20I # 1839',
 'Afghanistan Vs England': 'T20I # 1840',
 'England Vs Afghanistan': 'T20I # 1840',
 'Ireland Vs Sri Lanka': 'T20I # 1841',
 'Sri Lanka Vs Ireland': 'T20I # 1841',
 'India Vs Pakistan': 'T20I # 1842',
 'Pakistan Vs India': 'T20I # 1842',
 'Bangladesh Vs Netherlands': 'T20I # 1843',
 'Netherlands Vs Bangladesh': 'T20I # 1843',
 'South Africa Vs Zimbabwe': 'T20I # 1844',
 'Zimbabwe Vs South Africa': 'T20I # 1844',
 'Australia Vs Sri Lanka': 'T20I # 1845',
 'Sri Lanka Vs Australia': 'T20I # 1845',
 'England Vs Ireland': 'T20I # 1846',
 'Ireland Vs England': 'T20I # 1846',
 'Afghanistan Vs New Zealand': 'T20I # 1846a',
 'New Zealand Vs Afghanistan': 'T20I # 1846a',
 'Bangladesh Vs South Africa': 'T20I # 1847',
 'South Africa Vs Bangladesh': 'T20I # 1847',
 'India Vs Netherlands': 'T20I # 1848',
 'Netherlands Vs India': 'T20I # 1848',
 'Pakistan Vs Zimbabwe': 'T20I # 1849',
 'Zimbabwe Vs Pakistan': 'T20I # 1849',
 'Afghanistan Vs Ireland': 'T20I # 1849a',
 'Ireland Vs Afghanistan': 'T20I # 1849a',
 'Australia Vs England': 'T20I # 1849b',
 'England Vs Australia': 'T20I # 1849b',
 'New Zealand Vs Sri Lanka': 'T20I # 1850',
 'Sri Lanka Vs New Zealand': 'T20I # 1850',
 'Bangladesh Vs Zimbabwe': 'T20I # 1851',
 'Zimbabwe Vs Bangladesh': 'T20I # 1851',
 'Netherlands Vs Pakistan': 'T20I # 1852',
 'Pakistan Vs Netherlands': 'T20I # 1852',
 'India Vs South Africa': 'T20I # 1853',
 'South Africa Vs India': 'T20I # 1853',
 'Australia Vs Ireland': 'T20I # 1855',
 'Ireland Vs Australia': 'T20I # 1855',
 'Afghanistan Vs Sri Lanka': 'T20I # 1856',
 'Sri Lanka Vs Afghanistan': 'T20I # 1856',
 'England Vs New Zealand': 'T20I # 1858',
 'New Zealand Vs England': 'T20I # 1858',
 'Netherlands Vs Zimbabwe': 'T20I # 1859',
 'Zimbabwe Vs Netherlands': 'T20I # 1859',
 'Bangladesh Vs India': 'T20I # 1860',
 'India Vs Bangladesh': 'T20I # 1860',
 'Pakistan Vs South Africa': 'T20I # 1861',
 'South Africa Vs Pakistan': 'T20I # 1861',
 'Ireland Vs New Zealand': 'T20I # 1862',
 'New Zealand Vs Ireland': 'T20I # 1862',
 'Australia Vs Afghanistan': 'T20I # 1864',
 'Afghanistan Vs Australia': 'T20I # 1864',
 'England Vs Sri Lanka': 'T20I # 1867',
 'Sri Lanka Vs England': 'T20I # 1867',
 'Netherlands Vs South Africa': 'T20I # 1871',
 'South Africa Vs Netherlands': 'T20I # 1871',
 'Bangladesh Vs Pakistan': 'T20I # 1872',
 'Pakistan Vs Bangladesh': 'T20I # 1872',
 'India Vs Zimbabwe': 'T20I # 1873',
 'Zimbabwe Vs India': 'T20I # 1873',
 'New Zealand Vs Pakistan': 'T20I # 1877',
 'Pakistan Vs New Zealand': 'T20I # 1877',
 'England Vs India': 'T20I # 1878',
 'India Vs England': 'T20I # 1878',
 'England Vs Pakistan': 'T20I # 1879',
 'Pakistan Vs England': 'T20I # 1879'}

In [72]:
df_batting.head(20)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,run out (Gunathilaka/â€ Mendis),44,28,4,0,157.14
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,c â€ Mendis b Theekshana,0,1,0,0,0.00
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,,31,16,2,2,193.75
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,c Smit b Shikongo,9,10,1,0,90.00
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendisâ€,c â€ Green b Wiese,6,6,0,0,100.00
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhananjaya de Silva,c Shikongo b Frylinck,12,11,1,0,109.09
11,Namibia Vs Sri Lanka,Sri Lanka,4,Danushka Gunathilaka,c â€ Green b Shikongo,0,1,0,0,0.00
12,Namibia Vs Sri Lanka,Sri Lanka,5,Bhanuka Rajapaksa,c la Cock b Scholtz,20,21,2,0,95.23
13,Namibia Vs Sri Lanka,Sri Lanka,6,Dasun Shanaka(c),c â€ Green b Frylinck,29,23,2,1,126.08
14,Namibia Vs Sri Lanka,Sri Lanka,7,Wanindu Hasaranga de Silva,c Loftie-Eaton b Scholtz,4,8,0,0,50.00
15,Namibia Vs Sri Lanka,Sri Lanka,8,Chamika Karunaratne,c Baard b Smit,5,8,0,0,62.50
16,Namibia Vs Sri Lanka,Sri Lanka,9,Pramod Madushan,run out (van Lingen/â€ Green),0,0,0,0,-
17,Namibia Vs Sri Lanka,Sri Lanka,10,Dushmantha Chameera,c Erasmus b Wiese,8,15,0,0,53.33
18,Namibia Vs Sri Lanka,Sri Lanka,11,Maheesh Theekshana,,11,11,0,1,100.00
19,U.A.E. Vs Netherlands,U.A.E.,1,Chirag Suri,c â€ Edwards b van der Merwe,12,20,1,0,60.00

In [73]:
df_batting['out/not_out']=df_batting.dismissal.apply(lambda x: "out" if(len(x)>0) else "not_out")

In [74]:
df_batting.head(20)
df_batting.drop(columns=['dismissal'],inplace=True)
df_batting.head(20)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,44,28,4,0,157.14,out
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,0,1,0,0,0.00,out
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,31,16,2,2,193.75,not_out
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,9,10,1,0,90.00,out
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendisâ€,6,6,0,0,100.00,out
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhananjaya de Silva,12,11,1,0,109.09,out
11,Namibia Vs Sri Lanka,Sri Lanka,4,Danushka Gunathilaka,0,1,0,0,0.00,out
12,Namibia Vs Sri Lanka,Sri Lanka,5,Bhanuka Rajapaksa,20,21,2,0,95.23,out
13,Namibia Vs Sri Lanka,Sri Lanka,6,Dasun Shanaka(c),29,23,2,1,126.08,out
14,Namibia Vs Sri Lanka,Sri Lanka,7,Wanindu Hasaranga de Silva,4,8,0,0,50.00,out
15,Namibia Vs Sri Lanka,Sri Lanka,8,Chamika Karunaratne,5,8,0,0,62.50,out
16,Namibia Vs Sri Lanka,Sri Lanka,9,Pramod Madushan,0,0,0,0,-,out
17,Namibia Vs Sri Lanka,Sri Lanka,10,Dushmantha Chameera,8,15,0,0,53.33,out
18,Namibia Vs Sri Lanka,Sri Lanka,11,Maheesh Theekshana,11,11,0,1,100.00,not_out
19,U.A.E. Vs Netherlands,U.A.E.,1,Chirag Suri,12,20,1,0,60.00,out

In [75]:
df_batting['batsmanName']=df_batting['batsmanName'].apply(lambda x: x.replace("â€",""))
df_batting['batsmanName']=df_batting['batsmanName'].apply(lambda x: x.replace("/xa0",""))

In [69]:
df_batting.sample(30)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,matchid
83,Namibia Vs Netherlands,Netherlands,1,Max O'Dowd,35,35,1,1,100.00,out,T20I # 1830
433,Netherlands Vs Pakistan,Pakistan,6,Shadab Khan,4,2,1,0,200.00,not_out,T20I # 1852
562,New Zealand Vs Ireland,New Zealand,7,Mitchell Santner,0,1,0,0,0.00,out,T20I # 1862
338,South Africa Vs Bangladesh,Bangladesh,5,Afif Hossain,1,5,0,0,20.00,out,T20I # 1847
376,Zimbabwe Vs Pakistan,Pakistan,7,Mohammad Nawaz,22,18,1,1,122.22,out,T20I # 1849
546,Pakistan Vs South Africa,South Africa,2,Quinton de Kock,0,5,0,0,0.00,out,T20I # 1861
622,Netherlands Vs South Africa,South Africa,6,Heinrich Klaasen,21,18,0,1,116.66,out,T20I # 1871
624,Netherlands Vs South Africa,South Africa,8,Keshav Maharaj,13,12,0,1,108.33,out,T20I # 1871
262,Pakistan Vs India,India,4,Suryakumar Yadav,15,10,2,0,150.00,out,T20I # 1842
114,Scotland Vs Ireland,Scotland,4,Richie Berrington,37,27,3,1,137.03,out,T20I # 1833
531,India Vs Bangladesh,Bangladesh,5,Yasir Ali,1,3,0,0,33.33,out,T20I # 1860
287,Bangladesh Vs Netherlands,Netherlands,11,Paul van Meekeren,24,14,3,1,171.42,out,T20I # 1843
507,Zimbabwe Vs Netherlands,Zimbabwe,7,Ryan Burl,2,7,0,0,28.57,out,T20I # 1859
629,Bangladesh Vs Pakistan,Bangladesh,3,Soumya Sarkar,20,17,1,1,117.64,out,T20I # 1872
443,India Vs South Africa,India,10,Mohammed Shami,0,2,0,0,0.00,out,T20I # 1853
46,Scotland Vs West Indies,West Indies,2,Evin Lewis,14,13,1,1,107.69,out,T20I # 1826
544,Pakistan Vs South Africa,Pakistan,10,Haris Rauf,3,2,0,0,150.00,out,T20I # 1861
194,Scotland Vs Zimbabwe,Scotland,8,Josh Davey,4,3,0,0,133.33,not_out,T20I # 1838
181,West Indies Vs Ireland,West Indies,5,Nicholas Pooran,13,11,0,1,118.18,out,T20I # 1837
261,Pakistan Vs India,India,3,Virat Kohli,82,53,6,4,154.71,not_out,T20I # 1842
347,India Vs Netherlands,India,3,Virat Kohli,62,44,3,2,140.90,not_out,T20I # 1848
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,44,28,4,0,157.14,out,T20I # 1823
609,Sri Lanka Vs England,England,7,Sam Curran,6,11,0,0,54.54,out,T20I # 1867
282,Bangladesh Vs Netherlands,Netherlands,6,Scott Edwards,16,24,1,0,66.66,out,T20I # 1843
291,Zimbabwe Vs South Africa,Zimbabwe,4,Sikandar Raza,0,2,0,0,0.00,out,T20I # 1844
265,Pakistan Vs India,India,7,Dinesh Karthik,1,2,0,0,50.00,out,T20I # 1842
199,Scotland Vs Zimbabwe,Zimbabwe,5,Sikandar Raza,40,23,3,2,173.91,out,T20I # 1838
125,West Indies Vs Zimbabwe,West Indies,3,Evin Lewis,15,18,1,0,83.33,out,T20I # 1834
308,Sri Lanka Vs Australia,Australia,5,Marcus Stoinis,59,18,4,6,327.77,not_out,T20I # 1845
264,Pakistan Vs India,India,6,Hardik Pandya,40,37,1,2,108.10,out,T20I # 1842

In [76]:
match_id_dict['Pakistan Vs England']

'T20I # 1879'

In [77]:
df_batting['matchid']=df_batting['match'].map(match_id_dict)

In [78]:
df_batting.sample(5)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,matchid
411,Bangladesh Vs Zimbabwe,Zimbabwe,5,Sikandar Raza,0,3,0,0,0.00,out,T20I # 1851
170,U.A.E. Vs Namibia,Namibia,4,Gerhard Erasmus(c),16,18,2,0,88.88,out,T20I # 1836
38,Scotland Vs West Indies,Scotland,1,George Munsey,66,53,9,0,124.52,not_out,T20I # 1826
566,New Zealand Vs Ireland,Ireland,3,Lorcan Tucker,13,14,0,0,92.85,out,T20I # 1862
18,Namibia Vs Sri Lanka,Sri Lanka,11,Maheesh Theekshana,11,11,0,1,100.00,not_out,T20I # 1823

In [79]:
df_batting.to_csv('match/batting.csv',index=False)

## Process Bowling Summary

In [52]:
with open(r't20_json_files\t20_json_files\t20_wc_bowling_summary.json') as d:
    data=json.load(d)
data
all_records=[]
for rec in data:
    all_records.extend(rec['bowlingSummary'])
all_records   
df_bowling=pd.DataFrame(all_records)

In [54]:
df_bowling.head()
df_bowling.sample(30)

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
271,Zimbabwe Vs Pakistan,Zimbabwe,Sikandar Raza,4,0,25,3,6.25,13,2,1,2,0
340,Afghanistan Vs Sri Lanka,Afghanistan,Mujeeb Ur Rahman,4,0,24,2,6.00,12,3,0,0,0
360,Zimbabwe Vs Netherlands,Netherlands,Brandon Glover,4,1,29,2,7.25,15,2,2,2,0
27,Scotland Vs West Indies,West Indies,Obed McCoy,3,0,25,0,8.33,6,4,0,0,0
153,New Zealand Vs Australia,New Zealand,Trent Boult,4,0,24,2,6.00,13,2,1,1,0
325,Australia Vs Ireland,Ireland,Fionn Hand,1,0,15,0,15.00,2,0,2,1,0
67,Sri Lanka Vs U.A.E.,U.A.E.,Basil Hameed,1,0,13,0,13.00,1,1,1,0,0
61,Sri Lanka Vs U.A.E.,U.A.E.,Junaid Siddique,4,0,36,0,9.00,8,2,1,2,0
248,South Africa Vs Bangladesh,South Africa,Anrich Nortje,3.3,0,10,4,2.85,16,1,0,0,0
49,Namibia Vs Netherlands,Netherlands,Bas de Leede,3,0,18,2,6.00,6,1,0,0,0
474,New Zealand Vs Pakistan,New Zealand,Mitchell Santner,4,0,26,1,6.50,6,1,0,0,0
166,Afghanistan Vs England,Afghanistan,Rashid Khan,4,0,17,1,4.25,10,0,0,0,0
230,Ireland Vs England,England,Sam Curran,3,0,31,2,10.33,7,1,2,0,0
496,Pakistan Vs England,Pakistan,Haris Rauf,4,0,23,2,5.75,13,3,0,1,0
432,Netherlands Vs South Africa,South Africa,Keshav Maharaj,4,0,27,2,6.75,12,1,2,0,0
69,Sri Lanka Vs U.A.E.,Sri Lanka,Maheesh Theekshana,3.1,0,15,2,4.73,10,2,0,0,0
209,Zimbabwe Vs South Africa,South Africa,Anrich Nortje,2,0,10,1,5.00,5,0,0,0,0
145,Scotland Vs Zimbabwe,Scotland,Mark Watt,4,0,19,1,4.75,9,1,0,0,0
308,Netherlands Vs Pakistan,Netherlands,Logan van Beek,2,0,9,0,4.50,5,0,0,0,0
479,India Vs England,England,Adil Rashid,4,0,20,1,5.00,8,1,0,0,0
459,India Vs Zimbabwe,India,Bhuvneshwar Kumar,3,1,11,1,3.66,14,1,0,1,0
466,New Zealand Vs Pakistan,Pakistan,Naseem Shah,4,0,30,0,7.50,8,3,0,0,0
348,England Vs New Zealand,New Zealand,Mitchell Santner,4,0,25,1,6.25,8,2,0,0,0
267,Zimbabwe Vs Pakistan,Pakistan,Shadab Khan,4,0,23,3,5.75,8,1,0,0,0
358,Zimbabwe Vs Netherlands,Netherlands,Fred Klaassen,4,0,17,1,4.25,17,0,1,2,0
329,Australia Vs Ireland,Australia,Glenn Maxwell,2.1,0,14,2,6.46,6,2,0,0,0
493,Pakistan Vs England,England,Liam Livingstone,1,0,16,0,16.00,1,1,1,1,0
330,Australia Vs Ireland,Australia,Mitchell Starc,4,1,43,2,10.75,11,8,0,2,1
169,Ireland Vs Sri Lanka,Sri Lanka,Binura Fernando,4,0,27,1,6.75,10,3,0,1,0
346,England Vs New Zealand,New Zealand,Trent Boult,4,0,40,0,10.00,8,4,1,1,0

In [55]:
df_bowling['matchid']=df_bowling['match'].map(match_id_dict)

In [56]:
df_bowling.head()

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,matchid
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0,T20I # 1823
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0,T20I # 1823
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0,T20I # 1823
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0,T20I # 1823
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0,T20I # 1823

In [57]:
df_bowling.to_csv('match/bowling.csv',index=False)

## Processing Player Summary

In [60]:
with open(r't20_json_files\t20_json_files\t20_wc_player_info.json') as d:
    data=json.load(d)
data[0]

{'name': 'Michael van Lingen',
 'team': 'Namibia',
 'battingStyle': 'Left hand Bat',
 'bowlingStyle': 'Left arm Medium',
 'playingRole': 'Bowling Allrounder',
 'description': ''}

In [61]:
df_player=pd.DataFrame(data)

In [64]:
df_player.head()

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Michael van Lingen,Namibia,Left hand Bat,Left arm Medium,Bowling Allrounder,
1,Divan la Cock,Namibia,Right hand Bat,Legbreak,Opening Batter,
2,Jan Nicol Loftie-Eaton,Namibia,Left hand Bat,"Right arm Medium, Legbreak",Batter,
3,Stephan Baard,Namibia,Right hand Bat,Right arm Medium fast,Batter,
4,Gerhard Erasmus(c),Namibia,Right hand Bat,Right arm Offbreak,Allrounder,

In [80]:
df_player['name']=df_player['name'].apply(lambda x: x.replace("â€",""))
df_player['name']=df_player['name'].apply(lambda x: x.replace("/xa0",""))

In [81]:
df_player.to_csv('match/player.csv',index=False)